html,body {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
  background:gray;

  font-family:arial,sans-serif;
  font-size:small;
  color:#666;
}

#app{
  height: 100%;
}